<h4 ng-bind="$current.title" class="contentTitle"></h4>
            <md-divider></md-divider>  
<div  ng-cloak><!--ng-show="vm.user.authStatus == '1' || vm.user.authStatus == '2'"-->
    <!-- <div ng-show="vm.count"> -->
        <search-day date="date"></search-day>
        <p style="margin: -2px 0 0 70px; color: #bbbbbb;">查询日期范围不能超过61天</p>
        <div class="table-top" layout="row" style="margin-top:2px;">
            <div flex="40">
                <div layout="row" layout-align="start center">  
                    <p class="text-p" >卡券名称</p>
                    <md-select my-select placeholder="所有卡券" ng-model="vm.queryParams.cardId" style="width: 152px;">
                        <md-option ng-repeat="k  in vm.selects"  value="{{k.cardId}}"  class="mdOption " ng-class="{'active':k.cardId == vm.queryParams.cardId} ">
                            {{k.baseInfo.title}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            
        </div>

        <div class="table-top" style="margin-top:-7px;" layout="row" ng-show="$root.powers && $root.powers.indexOf('coupons.report_store.list') >= 0">
            <div flex="40" layout="row" layout-align="start end">
                <div layout="row">
                    <p class="text-p" style="margin-top: 5px !important;">筛选门店</p>
                    <div class="detail-content" style="width: 160px;">
                        <md-select my-select placeholder="所有门店" ng-model="vm.queryParams.storeMerchantNo" style="width: 300px;">
                            <md-option ng-repeat="k in vm.pois"  value="{{k.merchantNo}}"  my-limit="['k.storeName', 8]"
                                       class="mdOption " ng-class="{'active':vm.queryParams.storeMerchantNo == k.merchantNo}">
                                
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-top" layout="row" layout-align="start center">
            <div layout="row" flex="25">
                <p class="text-p"></p>
                <div flex class="detail-content">
                    <md-button ng-click="vm.reload()" class="md-raised my-style my-button" >重置</md-button>
                    <md-button class="btn-app md-raised my-shadow my-button " ng-click="vm.search()" style="margin-left:10px!important;">查询</md-button>

                </div>
            </div>
        </div>


        <div class="border-left" margin="[60, 0, 20, 0]">
            <span class="span-text float-left">查询结果</span>
            <a class="float-right downloadTable-btn" target="_blank" ng-click="vm.getExcel($event)">下载表格</a>
        </div>

        <md-content>
            <table ng-table="vm.ngTable" class="table table-full table-hover table-full-small color666 newLine">


                <thead class="table-header"> 
                    <tr> 
                        <td width="14%">时间</td>
                        <td width="12%">门店名称</td>
                        <td width="12%">卡券名称</td>
                        <td width="2%"></td>
                        <td width="10%">领取量</td> 
                        <td width="10%">领取人数</td> 
                        <td width="10%">使用量</td> 
                        <td width="10%">使用人数</td> 
                        <td width="10%">转赠量</td> 
                        <td width="10%">转赠人数</td> 
                    </tr> 
                </thead>
                <tbody>
                <tr ng-repeat="item in $data">
                    <td >{{ item.statisticDate}}</td>
                    <td >{{item.storeName}}</td>
                    <td >{{item.title}}</td>
                    <td></td>
                    <td >{{ item.receiveCount }}</td>
                    <td >{{ item.receiveUserCount }}</td>
                    <td >{{ item.consumeCount }}</td>
                    <td >{{ item.consumeUserCount }}</td>
                    <td >{{ item.giveCount }}</td>
                    <td >{{ item.giveUserCount }}</td>
                </tr>
                </tbody>

            </table>
            

        </md-content>
        <md-content ng-show="!vm.ngTable.data.length" layout-align="center" class="no-data">
            <p>暂无数据</p>
        </md-content>
    </div>

    <!-- <md-content ng-show="!vm.count" layout-align="center" class="no-data" style="margin: 0; border-top: none;">
        <p>您还未创建任何卡券，请<a href="#/coupons/list">新增卡券</a></p>
    </md-content> -->

<!--
<div ng-cloak  ng-if="vm.users.role == 'BrandAdmin'" layout-align="center" class="no-data" style="border-top: none; margin: 0;">
    <p>暂未授权，点击<a href="#/settings/wxchat">进行授权</a></p>
</div>
<div ng-cloak  ng-if="vm.users.role != 'BrandAdmin'" layout-align="center" class="no-data" style="border-top: none; margin: 0;">
    <p>暂无优惠券数据</p>
</div>-->
