<md-dialog aria-label="选择门店" ng-cloak id="typeDialog" layout="column" style="width:480px;">
    <span class="absolute closepoi" ng-click="close()">+</span>
    <div style="padding: 29px 40px 40px;">

        <h4 class="contentTitle selectpoi" ng-bind="data.title"></h4>
        <md-divider></md-divider>  
       
        <div ng-if="data.status == 2">
            <p style="margin-top: 30px; color:#999; margin-bottom: 0px;">请使用与本次公众号一致的账号授权，授权不一致将导致与微信相关数据失效。</p>
            <p style="margin-top: 30px; color:#999; margin-bottom: 26px;">点击“确定”将跳转到授权页面。</p>
        </div>
        <div ng-if="data.status == 1">    
            <p style="margin-top: 30px; color:#999;">取消授权后，使用微信公众号创建的相关微信门店，微信优惠券，微信会员卡都将失效，无法使用。</p>
            <p style="margin: 30px 0; color:#999;">确认删除？</p>
        </div>    
        <md-divider></md-divider>  
        <div layout="row" class="field-btn" style="margin-top: 30px;">
            <md-button ng-click="close()" class="md-raised md-button my-button" style="margin-right: 20px !important;">取消</md-button>
            <md-button ng-click="confirm()" class="btn-app md-raised my-button">
                确认
            </md-button>
        </div>
    </div>
</md-dialog>