<md-dialog aria-label="选择门店" ng-cloak id="typeDialog" layout="column" style="width:1220px;">
    <span class="absolute closepoi" ng-click="close()">+</span>
    <div style="padding: 40px;">

        <h4 class="contentTitle selectpoi">如何查看公众号类目</h4>
        <md-divider></md-divider>  
        <div layout="row" style="margin: 25px 0;">
            <img src="http://7xogq3.com2.z0.glb.qiniucdn.com/pic2.png">
        </div>   
            

        <md-divider></md-divider>
        <div layout="row" class="field-btn" style="margin-top: 20px;">
            <md-button ng-click="close()" class="md-raised md-button my-button" style="margin-right: 20px !important;">取消</md-button>
            <md-button ng-click="confirm()" class="btn-app md-raised my-button">
                确认
            </md-button>
        </div>
    </div>
</md-dialog>