<sidenav class="sidebar">
    <div class="spread-nav">
        <header class="nav-header">
            <div layout="center" class="app-logo">
                <h1 class="md-heading logoIcon" flex>
                    <span class="glyphicon glyphicon-qrcode"></span>
                    <span>Welcome!</span>
                </h1>
            </div>
            <user></user>
        </header>

        <md-content class="app-menu" flex role="navigation">
        <ul id="sideBarMenu">
            <!--<li ng-repeat="section in menu.sections" class="parent-list-item {{section.className}}"
                ng-class="{'parentActive' : isSectionSelected(section), 'curr': section.show}">-->
            <li ng-repeat="section in menu.sections" class="parent-list-item {{section.className}}"
                ng-class="{'curr': !(ifShow == section.className)}" on-finish-render>

                <menu-link section="section" ui-sref="{{section.href}}" ng-if="section.type === 'link'">
                    {{section.name}}
                </menu-link>

                <!--<p class="app-menu-button" ng-click="section.show = !section.show">
                    <menu-toggle section="section" class="md-subhead" ng-if="section.type === 'toggle'" >
                        {{section.name}}
                    </menu-toggle>
                </p>-->
                <p class="app-menu-button clickTag" ng-click="toggleBar(section.className, $event)">
                    <menu-toggle section="section" class="md-subhead" ng-if="section.type === 'toggle'" >
                        {{section.name}}
                    </menu-toggle>
                </p>

                <ul ng-if="section.children" class="menu-nested-list slide">
                    <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                            <menu-link section="child"  class="md-subhead" ui-sref="{{ child.href }}" ng-if="child.type === 'link'"> 
                                <p class="app-menu-button">
                                    {{child.name}}
                                </p>
                            </menu-link>

                    </li>
                </ul>
            </li>
        </ul>
    </md-content>
    </div>
    <div class="shrink-nav">
        <header>
            <span class="glyphicon glyphicon-qrcode"></span>
        </header>
        <div class="shrink-user">
            <div class="user-infor">
                <p class="user-account">{{rootMchtName}}</p>
                <p class="userLogin-name">{{userLoginName}}</p>
                <p class="login-out"><a href="javascript: ;" ng-click="logout()" class="app-color">退出登录</a></p>
            </div>
        </div>
        <div class="shrink-menu-icon">
            <ul>
                <li ng-repeat="section in menu.sections" class="parent-list-item {{section.className}}">
                    <div class="open-menu-wrap">
                        <p>{{section.name}}</p>
                        <ul>
                            <li class="current-menu" ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}" ng-click="secLevelClick(child)">
                            	<menu-link section="child"  class="md-subhead" ui-sref="{{ child.href }}" ng-if="child.type === 'link'"> 
	                                <p class="app-menu-button">
	                                    {{child.name}}
	                                </p>
                            	</menu-link>
                            </li>                            
                        </ul>
                    </div>
                </li>
               <!-- <li class="parent-list-item poi">
                    <div>
                        <p></p>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </li>
                <li class="parent-list-item coupons">
                    <div>
                        <p></p>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
     <div class="helpCenter-wrap">     	       
           <div class="help-header" ng-click="helpCenterShow()">
                <div class="link-text">帮助中心</div>
            </div>
           <div class="help-header" id="copyHeader">
                <div class="link-text">帮助中心</div>
            </div>
           <div  class="help-center">
		    	<div class="help-content">
		    		<div class="catalog-list" ng-repeat="helpCenter in menu.helpCenter" ng-show="rightShow == helpCenter.className">
		    			<div class="border-left" >
		    				<span class="span-text float-left">{{helpCenter.name}}</span>		    			
		    			</div>
		    			<ul class="catalog-menu">
			    			<li ng-repeat="child in helpCenter.children" >
			    				<a helpCenter="child" href="{{child.href}}" target="_blank">{{child.name}}</a>
			    			</li>		    				
			    	    </ul>
		    		</div>
		    		<!--<div class="module-introduction">
		    			<div class="border-left"><span class="span-text float-left">账务查询介绍</span></div>
		    			<div class="introduction-text">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</div>
		    		</div>-->
		    		<div class="contact-us">
		    			<div class="border-left"><span class="span-text float-left">联系我们</span></div>
		    			<div class="contact-information">
		    				<p>电话客服：0755-10109888</p>
		    				<p>QQ客服：4001180606</p>
		    				<p>微信公众号：盒子支付服务中心</p>
		    			</div>
		    		</div>
		    		<div class="weChat-center">
		    			<div class="border-left"><span class="span-text float-left">盒子支付服务中心公众号</span></div>
		    			<div class="service-erweima"></div>
		    		</div>
		    	</div>
	    </div>
	</div>
</sidenav>